[user]
  name = nightink
  email = chceyes@gmail.com
  signingkey = DD438E6A55E80C8E

[core]
  excludesfile = ~/.gitignore_global
  ignorecase = false
  quotepath = false

[alias]
  ci = commit
  cv = commit -v
  switch = checkout
  br = branch
  st = status

  # shows list of files that have a merge conflict
  conflicts = diff --name-only --diff-filter=U
  history = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  # unstages a file. use like 'git unstage filename'
  unstage = reset HEAD --

  # resets all uncomitted changes and files
  abort = reset --hard HEAD

  # shows diff only for files staged to commit
  new = diff --cached

  # shows only changes to files in current directory
  here = status .

  # undo last commit
  # brew install git-extras
  # git undo
  # undo = reset HEAD~1

  last = log -1 HEAD

  # change last commit message
  recommit = commit --amend
  newbr = checkout -b
  renamebr = branch -M

  # all parents branch
  tree = log --all --graph --decorate --color

  track = update-index --no-assume-unchanged
  untrack = update-index --assume-unchanged

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true

[push]
  default = simple

[i18n]
  commitencoding = utf8

[commit]
  template = ~/.git-commit-template.txt
  gpgsign = false

[diff]
  algorithm = patience
  compactionHeuristic = true

[color]
  ui = true
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = 242 238
  frag = 239 236
  old = 167 normal
  new = 030 normal
  context = 240
  commit = 246 024

[color "diff-highlight"]
  # oldHighlight = red bold 52
  # oldNormal = red bold
  # newNormal = green bold
  # newHighlight = green bold 22

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[interactive]
  diffFilter = diff-highlight
[gpg]
  program = gpg
