[submodule ".vim_runtime"]
	path = .vim_runtime
	url = git@github.com:nightink/vimrc.git
[submodule ".vim/bundle/ctrlsf.vim"]
	path = .vim/bundle/ctrlsf.vim
	url = git@github.com:dyng/ctrlsf.vim.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/node"]
	path = .vim/bundle/node
	url = git@github.com:moll/vim-node.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/jsx"]
	path = .vim/bundle/jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule ".vim/bundle/trailing-whitespace"]
	path = .vim/bundle/trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = git@github.com:tomtom/tcomment_vim.git
[submodule ".vim/bundle/autoformat"]
	path = .vim/bundle/autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-hybrid"]
	path = .vim/bundle/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule ".vim/bundle/vim-es6"]
	path = .vim/bundle/vim-es6
	url = git@github.com:isRuslan/vim-es6.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
