[submodule ".vim_runtime"]
	path = .vim_runtime
	url = git@github.com:nightink/vimrc.git
[submodule ".vim/bundle/ctrlsf.vim"]
	path = .vim/bundle/ctrlsf.vim
	url = git@github.com:dyng/ctrlsf.vim.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule ".vim/bundle/javascript-syntax"]
	path = .vim/bundle/javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/jsdoc"]
	path = .vim/bundle/jsdoc
	url = git@github.com:heavenshell/vim-jsdoc.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/node"]
	path = .vim/bundle/node
	url = git@github.com:moll/vim-node.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/jsx"]
	path = .vim/bundle/jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule ".vim/bundle/velocity"]
	path = .vim/bundle/velocity
	url = git@github.com:lepture/vim-velocity.git
[submodule ".vim/bundle/es6"]
	path = .vim/bundle/es6
	url = git@github.com:isRuslan/vim-es6.git
[submodule ".vim/bundle/swift"]
	path = .vim/bundle/swift
	url = git@github.com:keith/swift.vim.git
[submodule ".vim/bundle/trailing-whitespace"]
	path = .vim/bundle/trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/nerdtree-tabs"]
	path = .vim/bundle/nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/xtract"]
	path = .vim/bundle/xtract
	url = git@github.com:rstacruz/vim-xtract.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = git@github.com:tomtom/tcomment_vim.git
[submodule ".vim/bundle/autoformat"]
	path = .vim/bundle/autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
